<div class="portrait">
 <div class="container">	
  <div class="row">
  	<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
  	  <p id="rcphoto"><%= image_tag "portrait.png", :size => '300x300' %></p>
  	</div>
  </div>  
  <div class="row">
  	<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
  		<h1>About Me</h1>
  		<p>My name is Rachel Lanagan and I love designing websites. I'm based in Los Angeles, California where I spend my time working, traveling and meeting new people.</p>
  	  </div>	
  	</div>
  </div>	
</div>
