<body>
<div class="header">
  <div class="row">
	<div class="navigation col-sm-6">
		<ul class="nav">
			<li><a href="#">Portfolio</a></li>
			<li><a href="#">Philosophy</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>	
	<div class="title col-sm-6">
		<h3>Rachel Lanagan</h3>
		<p>Web Design &amp; Development</p>
	</div>

  </div>	
</div>

<div class="main">
  <div class="container">
  	<div class="row">
  	<h1>Welcome to <span class="name">Lanagan Inc.</span></h1>
  	<p>Designing and building websites that inspire, by turning ideas into reality.</p>
  </div>
  <div class="row">
  	<button type="link" class="btn btn-main">View Portfolio</button>
  </div>	
  	</div>	
  </div>
</div>

<div class="footer">
  <div class="row">
  	<div class="social">
  		<ul>
  			<li>&copy; Rachel Lanagan 2015</li>
  			<li><%= image_tag "github10.png" %></li>
  			<li><%= image_tag "linkedin1.png" %></li>
  			<li><%= image_tag "logo22.png" %></li>
  		</ul>
  	</div>
  </div>
</div>

</body>
