<body>

<div class="main">
  <div class="container">
  	<div class="row">
  	<h1>Welcome to <span class="name">Lanagan Inc.</span></h1>
  	<p>Designing and building websites that inspire, by turning ideas into reality.</p>
  </div>
  <div class="row">
  	<button type="link" class="btn btn-main">View Portfolio</button>
  </div>	
  	</div>	
  </div>
</div>

</body>
